<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="wrapper">
      <section class="main-adventure-container">
        <%- include('./partials/navbar.ejs') %>
      </section>
      <div class="main-card-container characters-container body-container">
        <%- include('./partials/cards.ejs') %>
      </div>

      <%- include('./partials/footer.ejs') %>
    </div>
  </body>

  <script src="./js/response.js"></script>
</html>
