<div class="adventure-cards">
  <div class="front-adventure-side">
    <div class="adventure-image">
      <img
        class="img adventure-image__image"
        src="../img/Art.png"
        alt="content"
      />
    </div>
    <div class="adventure-text-block">
      <span class="adventure-text-block__text">Some Name</span>
    </div>
  </div>
  <div class="back-adventure-side">
    <div class="adventure-json-block">
      <p class="adventure-json-block__text">Some info</p>
    </div>
  </div>
</div>
