<header class="adventure-header">
  <span class="adventure-header__title"
    ><a class="hrefs title-href" href="/">Adventure Time API</a></span
  >
</header>

<nav class="adventure-navbar" data-global-href="0">
  <ol class="adventure-list">
    <li class="adventure-list__text">
      <a class="hrefs list-hrefs" data-href="1" href="/characters"
        >Characters</a
      >
    </li>
    <li class="adventure-list__text">
      <a class="hrefs list-hrefs" data-href="2" href="/weapons">Weapons</a>
    </li>
    <li class="adventure-list__text">
      <a class="hrefs list-hrefs" data-href="3" href="/lands">Lands</a>
    </li>
    <li class="adventure-list__text">
      <a class="hrefs list-hrefs" data-href="4" href="/magic_items"
        >Artefacts</a
      >
    </li>
  </ol>
</nav>
